<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.geektimes.mybatis.spring.mapper.UserMapper">
    <select id="getUserByName"  resultType="org.geektimes.mybatis.spring.entry.Users" >
        select id,name from Users where name = #{name}
    </select>

    <select id="getAllUsers" resultType="org.geektimes.mybatis.spring.entry.Users">
        select * from Users;
    </select>
</mapper>